html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

body {
  -webkit-app-region: drag;
}

.clippy, .clippy-balloon {
  -webkit-app-region: no-drag;
}

#clippy {
  display: none;
}
